    body {
    font-family: "Cooper", Bold;
    font-size: 20px;
    color: #20CBD4;
    background: #FFFFFF;
    margin: 0px auto;
}
.expando h1 a {
    text-decoration: bold !important;
    color: #20CBD4;
}
.styled-select select {
    color: #20CBD4;
}
.box {
    border: solid 4px #E8E8E1;
}
button {
    background-color: #20CBD4 !important;
}
.button {
    background-color: #20CBD4 !important;
}
#add-to-cart.box {
    color: #ffffff !important;
    border: 0px !important;
}
@font-face {font-family: "Geometric 415"; src: url("//db.onlinewebfonts.com/t/f51aa01f15d5802d7ea9798beed11e7c.eot"); src: url("//db.onlinewebfonts.com/t/f51aa01f15d5802d7ea9798beed11e7c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f51aa01f15d5802d7ea9798beed11e7c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f51aa01f15d5802d7ea9798beed11e7c.woff") format("woff"), url("//db.onlinewebfonts.com/t/f51aa01f15d5802d7ea9798beed11e7c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f51aa01f15d5802d7ea9798beed11e7c.svg#Geometric 415") format("svg"); }
